<app-container-component>

  <div style="width: 100%; height: calc(100vh - 160px); overflow: auto">
    <div *ngFor="let product of basket.products" style="width: 100%; height: 140px; background-color: white; border-radius: 10px; margin-top: 20px">
      <div style="display: flex; padding: 20px; gap:20px">
        <div style="width: 100px;d">
          <div style="width: 100%; flex: 0 0 0; overflow: hidden;">
            <img src="{{ getImageUrl(product) }}" alt="No Image"
                 style="width: auto; height: 100px; display: block; margin: 0 auto; object-fit: contain; object-position: center;">
          </div>
        </div>


        <div style=" width: 90%;">
          <div>
            <p>{{ product.name }}</p>
          </div>

          <div style="width: 90%; flex: 0 0 auto;">
            <p style="

      display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.2em;
  max-height: calc(1.2em * 3);
  word-break: break-word;       /* rompe palabras largas */
  overflow-wrap: break-word;    /* soporte adicional */
    ">
              {{ product.description}}
            </p>
          </div>

        </div>

        <div style="width: 10%; display: flex; justify-content: center; align-items: center">
          <span>{{ product.price }} €</span>
        </div>
      </div>
    </div>
  </div>

  <div>
    <button (click)="goToProcess()" style="width: 100%; height: 40px; background-color: #0f5132; border-radius: 10px; border: 1px #0f5132 solid; margin-top: 20px; color: white; cursor: pointer">
      Tramitar pedido
    </button>
  </div>
</app-container-component>
