<app-container-component>
  <div style="width: 100%; height: 100%;color: white">
    <table style="width: 100%">
      <thead style="width: 100%">
      <tr style="width: 100%; ">
        <th>Imagen</th>
        <th>Nombre</th>
        <th>Apellidos</th>
        <th>Email</th>
        <th>Teléfono</th>
        <th>Tipo</th>
        <th>Fecha Creación</th>
        <th>Fecha Edición</th>
        <th>  <button (click)="add()" style="border-radius: 10px; border: 1px #0f5132 solid; background-color: #0f5132; width: 100%; height: 40px; margin-right: 10px; color: white; cursor: pointer">Añadir</button></th>
      </tr>
      </thead>

      <tbody style="width: 100%; text-align: center">
      <tr *ngFor="let user of users">
        <td>
          <div style="width: 100%; flex: 0 0 60%; overflow: hidden;">
            <img  src="{{ getImageUrl(user) }}" alt="No Image"
                  style="width: auto; height: 60px; display: block; margin: 0 auto; object-fit: contain; object-position: center;">
          </div>
        </td>


        <td>
          <span>{{ user.name }}</span>
        </td>

        <td>
          <span>{{ user.subname }}</span>
        </td>

        <td>
          <span>{{ user.email }}</span>
        </td>
        <td>
          <span>+{{ user.prefix + " " + user.phone }}</span>
        </td>
        <td>
          <span>{{ user.type }}</span>
        </td>
        <td>
          <span>{{ getDates(user.created_at) }}</span>
        </td>
        <td>
          <span>{{ getDates(user.updated_at) }}</span>
        </td>

        <td>
          <div style="display: flex; justify-content: center; align-items: center">
            <button (click)="update(user)" style="border-radius: 10px; border: 1px #0f5132 solid; background-color: #0f5132; width: 100%; height: 40px; margin-right: 10px; color: white; cursor: pointer">Editar</button>
            <button (click)="delete(user)" style="border-radius: 10px; border: 1px red solid; background-color: red; width: 100%; height: 40px; color: white; cursor: pointer" >Borrar</button>
          </div>
        </td>
      </tr>

      </tbody>
    </table>
  </div>
</app-container-component>
