<app-container-component>

  <div style="width: 100%; height: 100%; display: flex; justify-content: center; align-items: center">
    <div style="width: 80%;">
      <div style="width: 100%; display: flex; justify-content: center; align-items: center">
        <h2 class="text-primary">LOGIN</h2>
      </div>

      <form [formGroup]="form" (ngSubmit)="login()"
            style="width: 100%; height: 100%; background-color: var(--background-four); padding: 20px; border: 2px transparent solid; border-radius: 5px">

        <div style="height: 100%; width: 100%; ">
          <div style="display: flex; flex-direction: column;">
            <label class="text-primary" for="email">Email</label>
            <input formControlName="email"
                   style="padding: 8px; margin-top: 8px; border-radius: 5px; border: 0px var(--background-one) solid"
                   type="text" id="email" placeholder="Introduzca un correo válido">
          </div>

          <div style="display: flex; flex-direction: column; margin-top: 20px">
            <label class="text-primary" for="email">Contraseña</label>
            <input formControlName="password"
                   style="padding: 8px; margin-top: 8px; border-radius: 5px; border: 0px var(--background-one) solid"
                   type="password" id="password" placeholder="Introduzca una contraseña válida">
          </div>
        </div>
        <div style="width: 100%; margin-top: 20px; display: flex; justify-content: space-between; align-items: center;">
          <div style="width: 100%">
            <span class="text-primary" style="font-size: 14px">Si no tienes cuenta puedes crear pulsando <a
              [routerLink]="['/register']">aquí</a></span>
          </div>
          <div style="width: 100%; display: flex; justify-content: end; align-items: center">
            <button type="submit"
                    style="cursor: pointer;padding: 8px 16px;border-radius: 5px; border: 2px var(--background-one) solid; background-color: var(--background-one); color: var(--text-inverted)">
              Entrar
            </button>
          </div>

        </div>

      </form>
    </div>
  </div>
</app-container-component>
