<div style="width: 100%; height: 100%">
  <div style="">
    <h1>Editar Usuario</h1>
  </div>

  <div>
    <form [formGroup]="form">
      <div style="display: flex; flex-direction: column;">
        <label class="text-primary" for="name">Nombre</label>
        <input formControlName="name"
               style="padding: 8px; margin-top: 8px; border-radius: 5px; border: 1px black solid"
               type="text" id="name" placeholder="Introduzca un nombre válido">
      </div>

      <div style="display: flex; flex-direction: column; margin-top: 20px">
        <label class="text-primary" for="subname">Apellidos</label>
        <input formControlName="subname"
               style="padding: 8px; margin-top: 8px; border-radius: 5px; border:1px black solid"
               type="text" id="subname" placeholder="Introduzca una descripcion válida">
      </div>

      <div style="display: flex; flex-direction: column; margin-top: 20px">
        <label class="text-primary" for="email">Email</label>
        <input formControlName="email"
               style="padding: 8px; margin-top: 8px; border-radius: 5px; border:1px black solid"
               type="text" id="email" placeholder="Introduzca un precio válido">
      </div>

      <div style="display: flex; flex-direction: column; margin-top: 20px;">
        <div style="display: block; justify-content: center; align-items: center; ">
          <div>
            <span >Numero de telefono</span>
          </div>
          <div style="display: flex; justify-content: start; align-items: start; width: 100%">
            <div style="width: 20%; margin-right: 30px">
              <input formControlName="prefix"
                     style="padding: 8px; margin-top: 8px; border-radius: 5px; border:1px black solid; width: 100%"
                     type="text" id="prefix" placeholder="Introduzca un precio válido">
            </div>
            <div style="width: 40%">
              <input formControlName="phone"
                     style="padding: 8px; margin-top: 8px; border-radius: 5px; border:1px black solid; width: 100%"
                     type="text" id="phone" placeholder="Introduzca un precio válido">
            </div>
          </div>


        </div>

      </div>
      <div style="display: flex; flex-direction: column; margin-top: 20px">
        <label class="text-primary" for="password">Contraseña</label>
        <input formControlName="password"
               style="padding: 8px; margin-top: 8px; border-radius: 5px; border:1px black solid"
               type="password" id="password" placeholder="Introduzca un precio válido">
      </div>
      <div style="display: flex; flex-direction: column; margin-top: 20px">
        <label class="text-primary" for="type">Tipo</label>
        <input formControlName="type"
               style="padding: 8px; margin-top: 8px; border-radius: 5px; border:1px black solid"
               type="text" id="type" placeholder="Introduzca un precio válido">
      </div>

      <div style="display: flex; flex-direction: column; margin-top: 20px">
        <label class="text-primary" for="profile_photo">Imagen perfil</label>
        <input formControlName="profile_photo" (change)="onImageChange($event)" accept="image/*"
               style="padding: 8px; margin-top: 8px; border-radius: 5px; border:0px black solid"
               type="file" id="profile_photo">
      </div>

      <div>
        <p>Imágenes de items seleccionadas:</p>
        <div style="display: flex; justify-content: start; align-items: start">
          <div style="margin-right: 10px" *ngFor="let img of user?.images; let i = index">

            <img width="100" height="100" src="{{ getImageUrl(img) }}">
            <div style="width: 100%; text-align: center" *ngIf="img?.from === 'cover'">
              <span style="width: 100%;">Portada</span>
            </div>
          </div>
        </div>


      </div>

      <div style="display: flex; justify-content: end; align-items: end; margin-top: 20px">
        <button (click)="close()" style="border-radius: 10px; border: 1px #0f5132 solid; padding-right: 16px; padding-left: 16px; height: 40px; margin-right: 10px; color: black; cursor: pointer">Cancelar</button>
        <button (click)="update()" style="border-radius: 10px; border: 1px #0f5132 solid; background-color: #0f5132; padding-right: 16px; padding-left: 16px; height: 40px; margin-right: 10px; color: white; cursor: pointer">Editar</button>
      </div>
    </form>
  </div>
</div>
