<app-container-component>
  <div style="width: 100%; height: 100%;color: white">
    <table style="width: 100%">
      <thead style="width: 100%">
      <tr style="width: 100%; ">
        <th>Name</th>
        <th>Email</th>
        <th>Dirección</th>
        <th>Ciudad</th>
        <th>Codigo postal</th>
        <th>Estado</th>
      </tr>
      </thead>

      <tbody style="width: 100%; text-align: center">
      <tr>
        <td>1</td>
      </tr>
      <tr>
        <td>2</td>
      </tr>
      <tr>
        <td>3</td>
      </tr>
      </tbody>
    </table>
  </div>
</app-container-component>
