<app-container-component>
  <div style="width: 100%; height: 100%;color: white">
    <table style="width: 100%">
      <thead style="width: 100%">
      <tr style="width: 100%; ">
        <th>Name</th>
        <th>Email</th>
        <th>Dirección</th>
        <th>Ciudad</th>
        <th>Codigo postal</th>
        <th>Estado</th>
      </tr>
      </thead>

      <tbody style="width: 100%; text-align: center">
      <tr style="height: 40px" *ngFor="let order of orders">
        <td>{{ order.name }}</td>
        <td>{{ order.email }}</td>
        <td>{{ order.direction }}</td>
        <td>{{ order.city }}</td>
        <td>{{ order.zip }}</td>
        <td>{{ order.status }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</app-container-component>
